# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Termux
.cache/
.config/
.ssh/
.gitconfig
.lesshst

# IDE
.vscode/
.idea/

# Logs
*.log.venv/
__pycache__/
*.pyc
instance/
.env
.vscode/
.idea/
*.db

