      <div class="job-card">
        <div class="badge-group">
        {% if not job.is_filled and job.is_active %}
          <span class="badge badge-green">Actively Hiring</span>
          {% else %}
          <span class="badge badge-red">Stoped Hiring</span>
          {% endif %}
          {% if request.endpoint== 'user.applications' %}
          <span class="badge badge-green">{{ app.status }}</span>
          {% endif %}
        </div>
        <span class="job-deadline">{{ job.age }}</span>
        <span class="job-title">{{ job.title }}</span>
        <span class="job-company">{{ job.company }}</span>
        <span class="job-location"><i class="fa-solid fa-location-dot fa-fw" style="color: rgb(224, 228, 233);"></i> {{ job.location }}</span>
        <span class="job-mode"> <i class="fa-solid fa-briefcase fa-fw" style="color: rgb(224, 228, 233);"></i> {{ job.employment_type }}</span>
      
        <div class="job-buttons">
          <a class="btn details" href="{{ url_for('job.job_details',job_id=job.id) }}">View Details</a>
          
        </div>
      </div>