<aside class="side-bar">
  <div class="brand">
    <span class="txt1">Job</span><span class="txt2">Portal</span>
  </div>
  <a class="links {% if request.endpoint=='admin.admin_home' %}active{% endif %}" href="{{ url_for('admin.admin_home') }}">
    <i class="fa-solid fa-gauge fa-fw"></i> Dashboard
  </a>
  <a class="links {% if request.endpoint=='admin.manage_users' %}active{% endif %}" href="{{ url_for('admin.manage_users') }}">
    <i class="fa-solid fa-users fa-fw"></i> Users
  </a>
  <a class="links {% if request.endpoint=='admin.manage_employers' %}active{% endif %}" href="{{ url_for('admin.manage_employers') }}">
    <i class="fa-solid fa-building fa-fw"></i> Employers
  </a>
  <a class="links {% if request.endpoint=='admin.manage_jobs' %}active{% endif %}" href="{{ url_for('admin.manage_jobs') }}">
    <i class="fa-solid fa-briefcase fa-fw"></i> Jobs
  </a>
  <a class="links {% if request.endpoint=='admin.manage_deadline_jobs' %}active{% endif %}" href="{{ url_for('admin.manage_deadline_jobs') }}">
    <i class="fa-solid fa-briefcase fa-fw"></i> Deadline Jobs
  </a>
  <a class="links {% if request.endpoint=='admin.manage_applications' %}active{% endif %}" href="{{ url_for('admin.manage_applications') }}">
    <i class="fa-solid fa-file-lines fa-fw"></i> Applications
  </a>
</aside>
